{% extends "base.html" %}
{% block head %}    
    {{ super() }}
{% endblock %}
 {% block content %}
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<style>
img {
   display: block;
   width: 60%;
   margin-left: auto;
   margin-right: auto;
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
</style>
<center><h1>Rambo III</h1></center>
<img src="https://m.media-amazon.com/images/M/MV5BOTIwNWJhZDItZmNmOC00M2NkLWIwNDktMTYwZWFlZDVkMmVkL2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SY1000_CR0,0,666,1000_AL_.jpg">
<center><h2>About</h2></center>

<center><p>Rambo mounts a one-man mission to rescue his friend Colonel Trautman from the clutches of the formidable invading Soviet forces in Afghanistan.</p></center>

<table>
  <tr>
    <th>Genre</th>
    <th>Directed By</th>
    <th>Written By</th>
    <th>Runtime</th>
  </tr>
  <tr>
    <td>Action</td>
    <td> Peter MacDonald</td>
    <td>David Morrell (characters), Sylvester Stallone</td>
    <td>102 Minutes</td>
  </tr>
</table>
{% endblock %}